.btcmppwb {
	cursor:grab;
    position:relative;
    left: 100px;
    
}
.iconosvg {
	width:14px;
	height:14px;
}
.heads{
	
    margin-top: -30px;
	width: 1113px;
    height:80px;
    background-color: black;
    top: -10%;

}
.footr{
	position: relative;
    height:128px;
    background-color: black;
    float: left;
    bottom: 0%;
    left: 0;
    width: 100%;
    color: white;
}
.navbar-bg {
	color: white !important;
    background-color: black;
    border-color: rgb(0, 217, 255);
	border-style:groove;
	
}
.imgnos{
    position: relative;
    left: 150px;
}
.nosotroscentr{
    position: relative;
    left: 18%;
}
