body {

    color:black;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    display:grid;
    flex-direction: 100vh;
    min-height: 100vh;
  }
  

.btcmppwb {
	cursor:grab;
    position:relative;
    left: 100px;
    
}
.iconosvg {
	width:14px;
	height:14px;
}
.footr{
	
    height:128px;
    background-color: black;

    width: auto;
    color: white;
    margin-top: auto;
}
.footr2{
	position: relative;
    height:128px;
    background-color: black;
    bottom: -260px;
    width: auto;
    color: white;
    margin-top: auto;
}
.footrServices{
	position: relative;
    height:128px;
    background-color: black;
    bottom: -130px;
    width: auto;
    color: white;
    margin-top: auto;
}
.footrwelcome{
	position: relative;
    height:128px;
    background-color: black;
    bottom: -23px;
    width: auto;
    color: white;
    margin-top: auto;
}
.navbar-bg {
	color: white !important;
    background-color: black;
    border-color: white;
	border-style:groove;
	
}
.imgnos{
    position: relative;
    left: 150px;
}
.nosotroscentr{
    position: relative;
    left: 18%;
}
.registerlogin{
    color: black;
}
.btn-register{
    position: relative;
    left: 91%;
    top: 2%;
}
.btn-login{
    position: relative;
    left: 63%;
    top: 2%;
}
.check-remember{
    position: relative;
    left: 13%;
}
.menu-top{
    background-color:black;
}
.menu-topletter{
    position: relative;
    top: -15px;
    color: white;
}
.tittle{
    color: white;
    font-style: normal;
    font-size: 1rem;
    position:relative;
    left: 55%;

    font-size: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  
}
.tittleweather{
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        
}
.box {
    position: relative;
    bottom: 35px;
    top:40px;
    left: 280px;
    background-color: beige;
    width: 400px;
    padding: 25px;
    border: 25px solid #7777;
    margin: 25px;

}